/* * {
  box-sizing: border-box;
} */

.main {
  min-height: calc(100vh - 170px);
  margin-left: 1rem;
  margin-right: 1rem;
}
.register {
  max-width: 450px;
  margin: auto;
}

.active {
  background: green;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  text-transform: capitalize;
}

.inactive {
  background: red;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  text-transform: capitalize;
}
/* ---------------------- */
/* for carousel background */

.carousel .carousel-inner .carousel-item {
  background: none;
  padding: 0;
  margin: 0;
  height: 93vh !important;
  /* background-size: cover; */
}
.main-home,
.main-login {
  min-height: calc(100vh - 170px);
}
.main-login {
  min-height: calc(100vh - 170px);
}
.carousel .carousel-inner .carousel-item .d-block {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  /* height: 100%; */
  height: 100vh !important;
}
/* ------------------- */
/* for logo---------------- */
/* CSS Styles */

/* CSS Styles */
/* CSS Styles */
.logo {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.tech {
  color: grey; /* Electric blue or your desired tech-inspired color */
  font-size: 28px;
  animation: fadeInUp 1s ease-in-out;
}

.cms {
  color: rgba(255, 255, 255, 0.781);
  font-size: 20px;
  margin-left: 10px;
}

/* Animation Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    left: 100px; /* Start position off the screen on the left */
  }
  to {
    opacity: 1;
    left: 0; /* End position at the default position */
  }
}
